//
// Grid
//
$grid-gutter-width: 1.5rem;

// Bootstrap Sass
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

// Customs
@import "variables";
@import "mixins";
@import "fa";
@import "classes";

// Fonts & Icons
// @import "../fonts/sf_pro/stylesheet.css"; // FONT - SF PRO Display
@import "../fonts/dana/stylesheet.css"; // FONT - Dana Fa Nums

// ICON
@import "../fonts/fluent/FluentSystemIcons-Resizable.css";

// Boostrap Core
@import "~bootstrap/scss/bootstrap";

// Select box
@import "~nice-select2/dist/css/nice-select2.css";

// Phone inputs
// .iti__flag {
//     background-image: url("../images/flags2.png") !important;
// }

// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//     .iti__flag {
//         background-image: url("") !important;
//     }
// }

.iti {
    --iti-path-flags-1x: url("../images/flags.png");
    --iti-path-flags-2x: url("../images/flags@2x.png");
    --iti-path-globe-1x: url("../images/globe.png");
    --iti-path-globe-2x: url("../images/globe@2x.png");
}

@import "~intl-tel-input/build/css/intlTelInput.css";

// Pretty Checkbox
@import "~pretty-checkbox/src/scss/variables";
@import "~pretty-checkbox/src/scss/core";
@import "switches/general";
@import "switches/fill";
@import "switches/icon_checkbox";
@import "switches/round";
