// Links
.ca-link {
    text-underline-offset: 6px;
}

// Smooth radius
.squircle {
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
}

// Select
select {
    display: none;
}

.ca-select {
    padding-right: 45px;
    font-size: $h2-font-size;
    color: $dark-500;
    border-color: $light-400;
    border-radius: $border-radius;
    padding-top: 6.5px;
    height: 51px;

    .option,
    .current {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // Full width option for "ca-select-fullwidth" class
    &-fullwidth .nice-select-dropdown {
        width: 100%;
    }

    .nice-select-dropdown {
        margin-top: 8px;
        box-shadow: 0px 8px 24px -4px rgba(27, 46, 94, 0.08);
        border-radius: $border-radius;
        padding: 16px;
        margin-bottom: 0;
        color: $dark-500;
    }

    .option {
        border-radius: $border-radius;
        margin: 4px 0;
        padding: 4px 16px;
        padding-right: 35px;
        font-size: $h3-font-size;

        &:hover,
        &.selected,
        &.selected.focus {
            background-color: $light-100;
            color: $primary-base;
            font-weight: normal;
        }

        &.selected {
            position: relative;

            &:after {
                font-family: FluentSystemIcons-Resizable !important;
                font-style: normal;
                font-weight: normal !important;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                content: "\e35e";
                font-size: $h2-font-size;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                color: $primary-base;
            }
        }
    }

    &:after {
        font-family: FluentSystemIcons-Resizable !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e37f";
        font-size: 24px;

        height: 24px;
        width: 24px;
        top: 16px;
        right: 20px;
        border: none;

        transform: rotate(0);
        transform-origin: 12px; // The trick needed to stop moving the icon
    }

    &.open:after {
        transform: rotate(-180deg);
    }

    &.open,
    &:active,
    &:focus {
        border-color: $primary-base;
    }

    &.ca-fa {
        padding-right: 18px;
        padding-left: 45px;

        &:after {
            right: auto;
            left: 4px;
        }

        .list .option {
            padding-left: 35px;

            &:after {
                right: auto;
                left: 16px;
            }
        }
    }

    // Multple select input
    &.ca-select-multiple.ca-fa {
        .option {
            padding-right: 40px;
        }

        .option:after {
            right: 0 !important;
            left: auto !important;
        }
    }

    &.ca-select-multiple {
        .option {
            position: relative;
            padding-left: 40px;

            &:hover:after {
                color: var(--bs-primary);
            }
        }
        .option:after {
            left: 25px !important;
            right: auto !important;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: FluentSystemIcons-Resizable !important;
            font-style: normal;
            font-variant: normal;
            font-weight: 400 !important;
            line-height: 1;
            text-transform: none;

            color: var(--bs-dark-400);
            content: "\e35a";
            font-size: 24px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .option.selected:after {
            content: "\e366";
            color: var(--bs-primary);
        }
    }
}

// Buttons
.btn {
    &[disabled] {
        // color: $grey-dark !important;
        opacity: 1 !important;
    }
}

// Badges
.badge {
    i {
        margin-right: 5px;
    }
}

// Input
.has-icon {
    position: relative;

    .form-control {
        padding-left: 2.375rem;
    }

    &:has(.input-icon-right) .form-control {
        padding-right: 2.375rem;
    }

    i {
        position: absolute;
        top: 0;
        width: 45px;
        z-index: 2;
        height: 100%;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &.input-icon-right {
            right: 0;
        }
    }
}

// Phone
// .iti__flag {
//     background-image: url("../images/flags2.png");
// }

// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//     .iti__flag {
//         background-image: url("../images/flags@2x.png");
//     }
// }
.iti--separate-dial-code .form-control {
    height: $iti-input-height;
}

.iti--separate-dial-code .iti__selected-flag,
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: transparent !important;
    transition: border-color 0.15s ease-in-out;
}

.iti--separate-dial-code .iti__selected-flag {
    border-right: 1px solid $input-border-color;
}

.iti__country-list {
    border-radius: $border-radius;
    // margin-top: 4px;
}
.iti--inline-dropdown .iti__dropdown-content {
    border-radius: $border-radius;
    border: none !important;
}

// Active
.iti:focus-within .iti__flag-container .iti__selected-flag {
    border-color: $primary-base;
}

.iti__flag-container .iti__selected-flag:focus {
    border-color: $input-border-color !important;
}

.iti:has(.is-valid) .iti__flag-container .iti__selected-flag {
    border-color: $success-base !important;
}

.iti:has(.is-invalid) .iti__flag-container .iti__selected-flag {
    border-color: $danger-base !important;
}

.iti__search-input {
    display: none !important;
}

.iti {
    width: 100%;
}

// Spinner
.ca-spinner {
    border-radius: 50%;
    border-width: 1.5px;
    border-style: solid;
    border-color: $indigo-500 $indigo-200 $indigo-200;
    border-image: initial;
    animation-name: spin;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
}

.ca-spinner-1 {
    height: 40px;
    width: 40px;
}

.ca-spinner-2 {
    height: 28px;
    width: 28px;
}

.ca-spinner-3 {
    height: 20px;
    width: 20px;
}

.ca-spinner-4 {
    height: 16px;
    width: 16px;
}

.ca-spinner-5 {
    height: 12px;
    width: 12px;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ca-btn-primary {
    background-color: $indigo !important;
    color: $white !important;

    &:hover {
        background-color: $indigo-600 !important;
    }

    &:active {
        background-color: $indigo-700 !important;
        border-color: $indigo-700 !important;
    }

    &.ca-btn-sm {
        @include ca-btn-size(32px, 0.5em);
    }

    &.ca-btn-md {
        @include ca-btn-size(44px, 1.4em);
    }

    &.ca-btn-lg {
        @include ca-btn-size(51px, 1.7em);
    }
}

.ca-btn-secondary {
    background-color: $white !important;
    color: $indigo !important;
    border-color: $indigo !important;

    &:hover {
        background-color: $light-200 !important;
    }

    &:active {
        background-color: $light-200 !important;
        border-color: $indigo-600 !important;
        color: $indigo-600 !important;
    }

    &.ca-btn-sm {
        @include ca-btn-size(32px, 0.5em);
    }

    &.ca-btn-md {
        @include ca-btn-size(44px, 1.4em);
    }

    &.ca-btn-lg {
        @include ca-btn-size(51px, 1.7em);
    }
}

.ca-btn-tertiary {
    background-color: $white !important;
    color: $indigo !important;
    border-color: $white !important;

    &:hover {
        background-color: $light-200 !important;
        border-color: $light-200 !important;
    }

    &:active {
        background-color: $light-300 !important;
        border-color: $light-300 !important;
        color: $indigo-600 !important;
    }

    &.ca-btn-sm {
        @include ca-btn-size(32px, 0.5em);
    }

    &.ca-btn-md {
        @include ca-btn-size(44px, 1.4em);
    }

    &.ca-btn-lg {
        @include ca-btn-size(51px, 1.7em);
    }
}
