//
// Containers
//
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1224px
);

//
// Font sizes
//

$font-family-base: "DM Sans";
$font-size-base: 14px !default;
$font-weight-bolder: 900;

//
// Headings
//

$h1-font-size: 20px;
$h2-font-size: 18px;
$h3-font-size: 16px;
$h4-font-size: 14px;
$h5-font-size: 12px;
$h6-font-size: 10px;

//
// XL Headings
//

$font-size-xl-1: 88px;
$font-size-xl-2: 64px;
$font-size-xl-3: 48px;
$font-size-xl-4: 32px;
$font-size-xl-5: 28px;
$font-size-xl-6: 24px;

$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,

    xl-1: $font-size-xl-1,
    xl-2: $font-size-xl-2,
    xl-3: $font-size-xl-3,
    xl-4: $font-size-xl-4,
    xl-5: $font-size-xl-5,
    xl-6: $font-size-xl-6,
);

//
// Line height
//

$line-height-base: 1.5;
$line-height-xs: 1;
$line-height-s: 1.25;
$line-height-m: 1.5;
$line-height-l: 1.6;

//
// Colors
//

// Basics
$blue: #6687ff;
$blue-100: #f0f3ff;
$blue-200: #e0e7ff;
$blue-300: #d1dbff;
$blue-400: #b3c3ff;
$blue-500: #526ccc;
$blue-600: #3d5199;
$blue-700: #293666;

$indigo: #704dff;
$indigo-100: #f1edff;
$indigo-200: #e2dbff;
$indigo-300: #d4caff;
$indigo-400: #b8a6ff;
$indigo-500: #6e4aff;
$indigo-600: #5a3ecc;
$indigo-700: #432e99;
$indigo-800: #2d1f66;

$yellow: #ffdb4d;
$yellow-100: #fffbed;
$yellow-200: #fff8db;
$yellow-300: #fff4ca;
$yellow-400: #ffeda6;
$yellow-500: #ccaf3e;
$yellow-600: #99832e;
$yellow-700: #66581f;

$red: #ff734d;
$red-100: #fff1ed;
$red-200: #ffe3db;
$red-300: #ffd5ca;
$red-400: #ffb9a6;
$red-500: #cc5c3e;
$red-600: #99452e;
$red-700: #662e1f;

$pale: #ffdec0;
$pale-100: #fffcf9;
$pale-200: #fff8f2;
$pale-300: #fff5ec;
$pale-400: #ffefe0;
$pale-500: #ccb29a;
$pale-600: #998573;
$pale-700: #66594d;

$green: #3dcc9c;
$green-100: #ecfaf5;
$green-200: #d8f5eb;
$green-300: #c5f0e1;
$green-400: #9ee6ce;
$green-500: #31a37d;
$green-600: #257a5e;
$green-700: #18523e;

$light: #F4F7FE; // Wrong, needs ordering *
$light-100: #f1f4fe; // Wrong, needs ordering
$light-200: #f8f9fa;
$light-300: #e9ecef;
$light-400: #dee2e6;
$light-500: #ced4da;

$dark: #343a40;
$dark-100: #afb0b1; // Wrong, needs ordering
$dark-200: #86888b; // Wrong, needs ordering
$dark-300: #adb5bd;
$dark-400: #6c757d;
$dark-500: #495057;

$grey-light: #dbdbdb;
$grey-base: #cccccc;
$grey-dark: #8f8f8f;

// Pallete
$primary-light: #6da6f2;
$primary-base: #2f80ed;
$primary-dark: #215aa6;

$danger-light: #e66980;
$danger-base: #db294a;
$danger-dark: #991d34;

$success-light: #51beab;
$success-base: #07a287;
$success-dark: #05715f;

$warning-light: #ffc45b;
$warning-base: #ffaa15;
$warning-dark: #b3770f;

$custom-theme-colors: (
    "primary-light": $primary-light,
    "primary": $primary-base,
    "primary-dark": $primary-dark,

    "danger-light": $danger-light,
    "danger": $danger-base,
    "danger-dark": $danger-dark,

    "success-light": $success-light,
    "success": $success-base,
    "success-dark": $success-dark,

    "warning-light": $warning-light,
    "warning": $warning-base,
    "warning-dark": $warning-dark,

    "grey-light": $grey-light,
    "grey": $grey-base,
    "grey-dark": $grey-dark,

    "blue": $blue,
    "blue-100": $blue-100,
    "blue-200": $blue-200,
    "blue-300": $blue-300,
    "blue-400": $blue-400,
    "blue-500": $blue-500,
    "blue-600": $blue-600,
    "blue-700": $blue-700,

    "indigo": $indigo,
    "indigo-100": $indigo-100,
    "indigo-200": $indigo-200,
    "indigo-300": $indigo-300,
    "indigo-400": $indigo-400,
    "indigo-500": $indigo-500,
    "indigo-600": $indigo-600,
    "indigo-700": $indigo-700,

    "yellow": $yellow,
    "yellow-100": $yellow-100,
    "yellow-200": $yellow-200,
    "yellow-300": $yellow-300,
    "yellow-400": $yellow-400,
    "yellow-500": $yellow-500,
    "yellow-600": $yellow-600,
    "yellow-700": $yellow-700,

    "red": $red,
    "red-100": $red-100,
    "red-200": $red-200,
    "red-300": $red-300,
    "red-400": $red-400,
    "red-500": $red-500,
    "red-600": $red-600,
    "red-700": $red-700,

    "pale": $pale,
    "pale-100": $pale-100,
    "pale-200": $pale-200,
    "pale-300": $pale-300,
    "pale-400": $pale-400,
    "pale-500": $pale-500,
    "pale-600": $pale-600,
    "pale-700": $pale-700,

    "green": $green,
    "green-100": $green-100,
    "green-200": $green-200,
    "green-300": $green-300,
    "green-400": $green-400,
    "green-500": $green-500,
    "green-600": $green-600,
    "green-700": $green-700,

    "dark": $dark,
    "dark-100": $dark-100,
    "dark-200": $dark-200,
    "dark-300": $dark-300,
    "dark-400": $dark-400,
    "dark-500": $dark-500,

    "light": $light,
    "light-100": $light-100,
    "light-200": $light-200,
    "light-300": $light-300,
    "light-400": $light-400,
    "light-500": $light-500,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

//
// Shadows
//

$box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
$box-shadow-sm: 0px 0px 4px rgba(0, 0, 0, 0.2);
$box-shadow-lg: 0px 0px 32px rgba(0, 0, 0, 0.2);
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075);

//
// Tooltips
//

$tooltip-font-size: $h2-font-size;
$tooltip-max-width: 200px;
$tooltip-color: $white;
$tooltip-bg: $dark;
$tooltip-border-radius: 50px;
$tooltip-opacity: 1;
$tooltip-padding-y: 16px;
$tooltip-padding-x: 24px;
$tooltip-margin: 0;

$tooltip-arrow-width: 14px;
$tooltip-arrow-height: 9px;
$tooltip-arrow-color: $dark;

//
// Buttons
//

$btn-border-radius-sm: 8px;
$btn-border-radius: 8px;
$btn-border-radius-lg: 12px;

$btn-padding-y-sm: 5px;
$btn-padding-y: 10px;
$btn-padding-y-lg: 12px;

$btn-padding-x-sm: 16px;
$btn-padding-x: 24px;
$btn-padding-x-lg: 32px;

//
// Border radius
//

$border-radius-sm: 8px;
$border-radius: 12px;
$border-radius-lg: 16px;
$border-radius-pill: 50rem;

//
// Input
//
$iti-input-height: 50px;

$input-padding-y: 12px;
$input-padding-y-sm: 12px;
$input-padding-y-lg: 12px;

$enable-validation-icons: false;

$form-feedback-margin-top: 4px;
$form-feedback-valid-color: $success-base;
$form-feedback-invalid-color: $danger-base;
$input-focus-border-color: $primary-base;

$form-label-margin-bottom: 4px;
$form-label-font-size: $h2-font-size;
$form-label-font-weight: bold;
$form-label-color: $dark;

$form-text-font-size: $h2-font-size;
$form-text-color: $dark-400;

$input-border-color: $light-500;

$input-disabled-bg: $light-300;
$input-disabled-border-color: $light-300;

$form-validation-states: (
    "valid": (
        "color": $form-feedback-valid-color,
        "icon": $form-feedback-icon-valid,
    ),
    "invalid": (
        "color": $form-feedback-invalid-color,
        "icon": $form-feedback-icon-invalid,
    ),
);

//
// Badges
//

$badge-font-size: $h2-font-size;
$badge-font-weight: $font-weight-normal;
$badge-color: $white;
$badge-padding-y: 5px;
$badge-padding-x: 8px;
$badge-border-radius: $border-radius-sm;

//
// Modals
//

$modal-inner-padding: $spacer;

$modal-footer-margin-between: 0.5rem;

$modal-dialog-margin: 0.5rem;
$modal-dialog-margin-y-sm-up: 1.75rem;

$modal-title-line-height: $line-height-base;

$modal-content-color: null;
$modal-content-bg: $white;
$modal-content-border-color: transparent;
$modal-content-border-width: 0;
$modal-content-border-radius: $border-radius;
$modal-content-inner-border-radius: subtract(
    $modal-content-border-radius,
    $modal-content-border-width
);
$modal-content-box-shadow-xs: none;
$modal-content-box-shadow-sm-up: none;

$modal-backdrop-bg: $black;
$modal-backdrop-opacity: 0.5;

$modal-header-border-color: transparent;
$modal-header-border-width: 0;
$modal-header-padding-y: 32px;
$modal-header-padding-x: 32px;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x 24px
    $modal-header-padding-x; // Keep this for backwards compatibility

$modal-footer-bg: null;
$modal-footer-border-color: transparent;
$modal-footer-border-width: 0;

$modal-sm: 300px;
$modal-md: 544px;
$modal-lg: 800px;
$modal-xl: 1140px;

$modal-fade-transform: translate(0, -50px);
$modal-show-transform: none;
$modal-transition: transform 0.3s ease-out;
$modal-scale-transform: scale(1.02);

//
// Utils
//

$utilities: (
    "rounded": (
        property: border-radius,
        class: rounded,
        values: (
            null: $border-radius,
            0: 0,
            1: $border-radius-sm,
            2: $border-radius,
            3: $border-radius-lg,
            circle: 50%,
            pill: $border-radius-pill,
        ),
    ),
    "line-height": (
        property: line-height,
        class: lh,
        values: (
            xs: $line-height-xs,
            s: $line-height-s,
            m: $line-height-m,
            l: $line-height-l,
        ),
    ),
    "smooth-corner": (
        property: --smooth-corners,
        class: smooth-corner,
        values: (
            xs: 15,
            sm: 12,
            md: 9,
            lg: 6,
            xl: 3,
        ),
    ),
);
